* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(0, 0%, 81%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}
@font-face {
	font-family: Barlow;
	src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
}
@font-face {
	font-family: Barlow Bold;
	src: url("../fonts/BarlowSemiCondensed-Bold.ttf");
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-grayish-blue);
}
.main-container {
	font-family: Barlow;
	font-size: 13px;
	margin: auto 0;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 20px;
	width: 950px;
	/* height: 450px; */
}
.grid-item {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: 50px 50px 40px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}
.header-row {
	display: flex;
	align-items: center;
	gap: 10px;
}
.profile-image {
	width: 40px;
	border-radius: 100%;
	border: 2px solid white;
}
.testimonial-name {
	font-family: Barlow Bold;
}
.testimonial-job {
	color: var(--Light-gray);
}
.testimonial-intro {
	font-size: 16px;
	font-family: Barlow Bold;
}
.testimonial-body {
	line-height: 18px;
}
.daniel-grid {
	color: var(--White);
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: var(--moderate-violet);
}
.jonathan-grid {
	color: var(--White);
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: var(--very-dark-grayish-blue);
}
.jeanette-grid {
	color: var(--very-dark-blackish-blue);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: var(--White);
}
.jeanette-grid .testimonial-name {
	color: var(--very-dark-grayish-blue);
}
.jeanette-grid .testimonial-job {
	color: var(--very-dark-grayish-blue);
}
.jeanette-grid .testimonial-intro {
	color: var(--very-dark-grayish-blue);
}
.jeanette-grid .testimonial-body {
	color: var(--very-dark-grayish-blue);
}
.patrick-grid {
	color: var(--White);
	grid-column-start: 3;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: var(--very-dark-blackish-blue);
}
.kira-grid {
	color: var(--very-dark-blackish-blue);
	grid-column-start: 7;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: var(--White);
}
.kira-grid .testimonial-name {
	color: var(--very-dark-grayish-blue);
}
.kira-grid .testimonial-job {
	color: var(--very-dark-grayish-blue);
}
.kira-grid .testimonial-intro {
	color: var(--very-dark-grayish-blue);
}
.kira-grid .testimonial-body {
	color: var(--very-dark-grayish-blue);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
